body{
background:#0a0d15;
color:white;
font-family:Arial;
text-align:center;
}

.dashboard{
display:grid;
grid-template-columns:2fr 1fr 1fr;
gap:20px;
padding:20px;
}

canvas{
background:#111;
border:2px solid cyan;
width:100%;
height:400px;
}

.controls{
background:#161a25;
padding:20px;
border:1px solid cyan;
}

.meters{
background:#161a25;
padding:20px;
border:1px solid orange;
}

button{
background:red;
color:white;
padding:10px;
margin-top:10px;
border:none;
cursor:pointer;
}

#warningBox{
margin-top:20px;
padding:15px;
font-weight:bold;
border-radius:6px;
transition:0.3s;
}

.safe{
background:#0a3;
color:white;
}

.warning{
background:orange;
color:black;
}

.danger{
background:red;
color:white;
animation:blink 1s infinite;
}

@keyframes blink{
50%{opacity:0.5;}
}
