body{
background:#0a0d15;
color:white;
font-family:Arial;
text-align:center;
}

.dashboard{
display:grid;
grid-template-columns:2fr 1fr 1fr;
gap:20px;
padding:20px;
}

canvas{
background:#111;
border:2px solid cyan;
width:100%;
height:400px;
}

.controls{
background:#161a25;
padding:20px;
border:1px solid cyan;
}

.meters{
background:#161a25;
padding:20px;
border:1px solid orange;
}

button{
background:red;
color:white;
padding:10px;
margin-top:10px;
border:none;
cursor:pointer;
}

#warningBox{
margin-top:20px;
padding:15px;
border:2px solid lime;
font-weight:bold;
}

#menuBtn{
position:fixed;
bottom:20px;
right:20px;
background:#00bcd4;
padding:12px 18px;
border:none;
cursor:pointer;
}

#menuPanel{
position:fixed;
bottom:-100%;
left:0;
width:100%;
height:50%;
background:#0f1420;
overflow-y:auto;
padding:20px;
transition:bottom 0.5s;
}

#menuPanel.open{
bottom:0;
}
