body{
background:#0a0d15;
color:white;
font-family:Arial;
text-align:center;
}

.dashboard{
display:grid;
grid-template-columns:2fr 1fr 1fr;
gap:20px;
padding:20px;
}

canvas{
background:#111;
border:2px solid cyan;
width:100%;
height:400px;
}

.controls{
background:#161a25;
padding:20px;
border:1px solid cyan;
}

.meters{
background:#161a25;
padding:20px;
border:1px solid orange;
}

button{
background:red;
color:white;
padding:10px;
margin-top:10px;
border:none;
cursor:pointer;
}
